body{
    margin: 0;
    background-color: rgb(8, 34, 45);
    overflow-x: hidden;
}

.navbar{
    /* height: 100px; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    padding-left: 50px;
    padding-right: 50px;
    font-size: x-large;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
    

}
.navbar h1:hover{
    color: yellow;
    cursor: pointer;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    
}

.navbar h1{
    color:whitesmoke;
    font-size: 50px;
    animation: royal 3s  ease infinite ;
  
    
   /* font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 50px;*/


    
      
        font-family: "DM Serif Text", serif;
        font-weight: 400;
        font-style: italic;

}
 /*@keyframes royal {
    0%{
        color: yellow;
    }
    25%{
        color: rgb(94, 165, 194);
    }
    50%{
        color: rgb(231, 48, 48);
    }
    75%{
        color:rgb(237, 177, 24);
    }
 }  
*/


.navbar ul {
    list-style: none;
    gap: 70px;
    display: flex;
    
}

.parent{
    background-image: url(main.jpg);
    height: 120vh;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
    width: 100%;
}
.div1{
    
    color: whitesmoke;
    padding-top:    180px;
    padding-left: 900px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 57px;
}

@media screen and (max-width: 900px) {
   .div1{
    color: whitesmoke;
    /* padding-top: 180px; */
    padding-left: 404px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 31px;
}
   } 

.div1 h1:hover{
    color: yellow;
    cursor: pointer;
}
.sec1{
    /* height: 300vh; */
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
 margin: 0px;
padding: 0px; 
box-sizing: border-box;
align-items: center;
flex-wrap: wrap;
width: 100%;

}
 .div1 h1{
    
    padding-bottom: 500px;  
      color: white;
    align-content: center;
 }
 .sec1{
    background-color: rgb(8, 34, 45);
    width: 100%;

 }
 .sec1 h1:hover{
    transform: scale(1.5);
    color: rgb(231, 58, 58);
 }
 .sec1 img:hover{
    transform: scale(1.1);
    cursor: pointer;
 }
 .sec1 div{
    border: 1px solid rgb(8, 34, 45);
    padding: 1PX;
    text-align: center;
    background-color:rgb(8, 34, 45);
    color: whitesmoke;
    overflow: hidden;  
 }

 
 .sec1 button{
    color: black;
    background-color: whitesmoke;
    border: 2px solid  black;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 300;
 }
 .sec1 button:hover{
    cursor: pointer;
    width: 200px;
    background-color:peachpuff;
    color:black;
 }

 .navbar label{
    display: none;
}
#click:checked~.navbar ul{
    display: block;
}

@media screen and (max-width:650px) {
   
    .navbar label{
        display: block;
    }
    .navbar ul{
        display: none;
        position: absolute;
        /* top: 55px; */
        width: 100%;
    }
    .navbar ul li{
        padding: 10px;
    }
 }
 #click{
    display: none;
 }
 .sec3{
    display: grid;
    grid-template-columns: repeat(10,300px);
    overflow: scroll;
    scrollbar-width: none;
    width: 100%;

   /* justify-content: space-evenly;*/
padding-top: 80px;
gap: 50px;
align-items: center;
background-image: url(blue.jpg);
color: whitesmoke;
 }

 
/*.div31{
    font-size: 50pX;
    gap: 0px;
    position: absolute;
    left: 1%;
    top: 1540px;
    z-index: 10;
    
    
}
.div32{
    font-size: 50px;
    position: absolute;
    left: 95%;
    top: 1540px;
    z-index: 10;

}*/
.font{
    font-size:30px ;
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: weight
    
}
.sec4{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(8, 34, 45);
    padding: 20px;
    color: white;
    width: 100%;
    
}
.div41 button{
    color: black;
    background-color: whitesmoke;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
   

}
.div41 button:hover{
    cursor: pointer;
    background-color: skyblue;

}
.div41{ 
    width: 300px;
    line-height:80px ;
    
    
}
.div42 button{
background-color: skyblue;
padding: 10px;
}
.sec5{
    display: flex;
    justify-content: space-between;
    background-color:  rgba(7, 56, 77, 0.647);
    padding: 20px;
    color: aliceblue;
    width: 100%;
}

.sec6{
    background-image: url(get-i.webp);
    height: 750px;
align-items: center;   
align-content: center; 
width: 100%;

}
.sec6 h1{
      color: aliceblue;
      font-size: 100px;
      padding: 120px;
      /* padding-left: 50px;
      padding-top:50px ;
      padding-bottom: 200px;
} */}
.sec6 p{
    color:whitesmoke;
    font-size: 50px;
    align-items: center;
    margin-top: 0px;
    margin-left: 100px;
    
}
.sec6 button{
    color: black;
    background-color: aliceblue;
    align-items:center ;
    padding: 10px;
    margin-left: 110px;
    width: 200px;
    font-size: larger;
     
}
.sec6 button:hover{
     cursor: pointer;
     background-color: antiquewhite;
}

.sec7{
    height: 500px;
    animation: back 40s  ease infinite ;
    background-repeat: no-repeat;
    background-position:  center;
    background-size: cover;
    width: 100%;
    
}

@keyframes back{
    0%{
        background-image: url(a1.jpg);
       /* transform: scale(1.1);*/
    }
    25%
{
    background-image: url(a2.jpg);
   /* transform: scale(1.2);*/
}
50%{
    background-image: url(a4.jpg);
    
}
75%{
    background-image: url(a5.jpg);
  /*  transform: scale(1.2);*/
}
100%{
    background-image: url(a6.jpg);
    
}
}

.sec8{
    display: flex;
  width: 100%;
   justify-content: space-between;
        box-sizing: border-box;
    height: 600px;
    gap: 30px;
    padding: 20px;
    
    
}
.sec8 div{
    border: 2px solid black;
    text-align:   center;
    background-color:black; ;
    color: whitesmoke;
    overflow: hidden;
    
    padding-bottom: 100px;
    border-radius: 5px; 
    box-shadow: 2px 0px 1px whitesmoke;*/
height: 450px;
width: 700px;
    
}
.sec8 div h2{
    /*font-family: Verdana ;*/
    gap: 2px;
    font-family: "Amarante";
    font-weight: 400;
    line-height: 40px;
    
  

  
}
.sec8 div img{
    height:300px;
     width:375PX ;
    /*border-radius: 30px;*/ 
}
.div81 img:hover{
    transform: scale(1.1);
    overflow: hidden;
    transition: 2s;

}
.div82 img:hover{
    transform: scale(1.1);
    overflow: hidden;
    transition: 2s;
}
.div83 img:hover{
    transform: scale(1.1);
    overflow: hidden;
    transition: 2s;
}
.div84 img:hover{
    transform: scale(1.1);
    overflow: hidden;
    transition: 2s;
}
.sec8 button{
    align-items: center;
    padding:5PX ;
    margin-top: 30px;
font-size: larger;
font-family: vardana;
    background-color: whitesmoke;
}
.sec8 button:hover{
    cursor: pointer;
    font-weight: bold;
    transform: scale(1.1);
}
.sec8 div:hover{
    transform: scale(1.02);
    overflow: hidden;
    transform: 4s;
}